.admin-nav .left {
    background-color: wheat;
    height: 100vh;
}
.admin-nav ul {
    margin: 0;
    padding: 0;
    text-decoration: none;

}
.admin-nav ul li {
    list-style: none;
    margin-bottom: 15px;
    margin-top: 10px;
}
.admin-nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-left: 10px;
    
}
.admin-nav ul li:hover {
    background-color:green;
}